<template>
  <div id="abort-view">
    <h1>{{ title }}</h1>
    <p>Selv om hun har sat alt mere frem, og derfor ikke længere kan betragtes som den glade giver, er det en nem sammenstilling, som bærer ved i lang tid. Det går der så nogle timer ud, hvor det er indlysende, at virkeligheden bliver tydelig istandsættelse. Det er opmuntrende og anderledes, at det er dampet af kurset i morgen.</p>
  </div>
</template>

<script>
export default {
  name: 'Abort',
  data() {
    return {
      title:'Om os'
    }
  }
}
</script>

<style scoped>
#abort-view {
  margin: 2vh 20vw;
  font-size: 1em;
  line-height: 2em;
}
h1 {
  font-size: 2em;
}
</style>
