<template>
  <!-- Logon form -->
  <div class="container" v-if="fristLogon">
    <div class="row row-margintop">
      <div class="col">
        <div class="form-group">
          <label for="logonform-email">Skriv din email</label>
          <input class="form-control" :id="logonForm.id.email" text="email" v-model="logonForm.email" placeholder="Din e-mail"/>
        </div>
      </div>
      <div class="col">
        <label for="logonform-password">Skriv dit kodeord</label>
        <input class="form-control" :id="logonForm.id.password" type="password" v-model="logonForm.password" placeholder="******"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block" @click="showSignupForm" :disabled="logonForm.lockShowSignupFormBtn">Opret dig som bruger</button>
      </div>
      <div class="col">
        <button class="btn btn-success btn-lg btn-block" @click="logOn" :disabled="logonForm.lockShowSignupFormBtn">Log på</button>
      </div>
    </div>
  </div>
  <!-- ELSE >> signup form -->
  <div class="container" v-else>
    <div class="row">
      <h2>Opret dig som bruger</h2>
    </div>
    <div class="row row-margintop">
      <div class="col">
        <label>Skriv din e-mail address</label>
        <input class="form-control" text="email" placeholder="Din e-mail"/>
      </div>
    </div>
    <!-- signup >> password inputs -->
    <div class="row row-margintop">
      <div class="col">
        <label>Vælg en adgangkode</label>
        <input class="form-control" :id="signupForm.id.email" type="password" v-model="signupForm.email" placeholder="******" :disabled="autogenpasswd == true"/>
      </div>
      <div class="col">
        <label>Skriv adgangkoden igen</label>
        <input class="form-control" :id="signupForm.id.password" type="password" v-model="signupForm.password" placeholder="******" :disabled="autogenpasswd"/>
      </div>
    </div>
    <!-- signup >> autogenpasswd checkbox -->
    <div class="row row-margintop">
      <div class="col">
        <div class="custom-control custom-checkbox">
            <input type="radio" class="custom-control-input" checkbox="false" @click="autoGenPasswd" id="signup-autogenpasswd">
            <label class="custom-control-label" for="signup-autogenpasswd">Auto opret kodeord</label>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-success btn-lg btn-block" @click="signUp">Opret bruger</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthForm',
  props: {
    msg: String
  },
  data() {
    return {
      fristLogon: true,
      autogenpasswd: false,
      restApiRoot: 'https://jsonplaceholder.typicode.com',
      inputErrorClass: 'error-input',
      vaildErrorTimeInMs: 3000,
      logonForm:{ //the
        id:{
          email: 'logonform-email',
          password: 'logonform-password'
        },
        email: '',
        password: '',
        lockShowSignupFormBtn: false,
      },
      signupForm:{
        id:{
          email: 'signupform-email',
          password: 'signupform-password'
        },
        email: '',
        password: ''
      }
    }
  },
  methods:{
    logOn(){
      if(this.logonForm.email.length > 2 && this.logonForm.password.length > 5){
        this.$http.get(this.restApiRoot+'/users').then(response => {
          localStorage.setItem('user-email', this.logonForm.email);
          this.$options.parent.showUserSettings();
        });
      } else {
        this.logonForm.lockShowSignupFormBtn = true;
        document.getElementById(this.logonForm.id.email).classList.add(this.inputErrorClass);
        document.getElementById(this.logonForm.id.password).classList.add(this.inputErrorClass);
        setTimeout(function (_this){
          document.getElementById(_this.logonForm.id.email).classList.remove(_this.inputErrorClass);
          document.getElementById(_this.logonForm.id.password).classList.remove(_this.inputErrorClass);
          _this.logonForm.lockShowSignupFormBtn = false;
        }, this.vaildErrorTimeInMs, this);
      }
    },
    signUp(event){
    },
    showSignupForm(){
      this.fristLogon = false;
    },
    autoGenPasswd(){
      this.autogenpasswd = true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  text-align: right;
  width: 100%;
  margin: auto 2vw;
  text-decoration: underline;
}
@media only screen and (max-width:765px){
  h2 {
    font-size: 25px;
  }
}
@media (min-width: 900px){
  .container {
    margin-top: 10vh;
    max-width: 800px;
  }
}
h3 {
  margin: 40px 0 0;
}
#signup-autogenpasswd {
    font-style: italic;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.row-margintop {
  margin-top: 4vh;
}
.error-input {
  border:2px solid red;
}
</style>
