<template>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" v-if="islogon==true">
        <div class="navbar-header">
          <a class="navbar-brand" @click="reload" href="#"><h1>PrePay.DK</h1></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" @click="LogOff">LogAf</a></li>
        </ul>
      </div>
      <div class="container-fluid" v-else>
        <div class="navbar-header">
          <a class="navbar-brand" @click="reload" href="#"><h1>PrePay.DK</h1></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#" @click="topmenuShowAbort">Om os</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'TopMenu',
  props: {
    islogon: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    LogOff(){
      localStorage.clear();
      this.islogon = false;
      this.$options.parent.init();
    },
    topmenuShowAbort(){
      this.$options.parent.showAbort();
    },
    reload(){
      this.$options.parent.init();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media only screen and (min-width:1000px){
  .navbar-brand h1 {
    text-decoration: underline;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
