<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr/>
        <vue-dropzone id="usersettings-dropzone" :options="dropOptions"></vue-dropzone>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input class="form-control" type="email" placeholder="Din email" :value="email" />
      </div>

      <div class="col">
        <button class="btn btn-primary">Gem</button>
      </div>
    </div>
  </div>
</template>


<script>
import vueDropzone from "vue2-dropzone";
export default {
  name:'UserSettings',
  data: () => ({
    title: 'Brugerindstillinger',
    email: localStorage.getItem('user-email'),
    dropOptions: {
      url: "https://httpbin.org/post"
    }
  }),
  components:{
    vueDropzone
  }
}
</script>
