<template>
  <div id="app">
    <TopMenu :islogon="isLogon" />
    <component :is="currentView"></component>
  </div>
</template>

<script>
import TopMenu from './components/TopMenu.vue'
import AuthForm from './components/AuthForm.vue'
import Abort from './components/Abort.vue'
import UserSettings from './components/UserSettings.vue'

export default {
  name: 'app',
  components: {
    'TopMenu': TopMenu
  },
  data(){
    return { currentView:AuthForm }
  },
  methods:{
    init(){
      this.isLogon = false;
      this.currentView = AuthForm;
    },
    showAbort(){
      this.currentView = Abort;
    },
    showUserSettings(){
      this.isLogon = true;
      this.currentView = UserSettings;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
